* {
    margin:  0;
    padding: 0;
    background-color: #2C003E;
}

header {
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: center;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2C003E;
}

.logo img{
    width: 200px;
    float: center;
    height: auto;
}

.login-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}

.login-text h1{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    font-size: 35px;
}

.login-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration:  none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}

.login-text a:hover{
    background: #fff;
    color: #333;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2C003E;

}

.container-space {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}